@model List<Weekday>

@{
    ViewData["Title"] = "Schedule";   
}

<table>
    <tbody>
        @foreach (var day in @Model)
        {         
            <tr>
                <td colspan="6" class="day current-day-0">@day.date - @day.weekDay</td>
            </tr>
            <tr>
                <th width=\"55\">Пара</th>
                <th width=\"105\">Время</th>
                <th>Предмет</th>
                <th width=\"180\">Преподаватель</th>
                <th width=\"105\">Аудитория</th>
                <th width=\"150\">Группа</th>
            </tr>
        
                byte pairCount = 0;

            @foreach (var pair in day.pairs)
            {
                pairCount++;

                if (pairCount > 8)
                    break;

                <tr>
                    <td>@pair.N</td>
                    <td>@pair.time</td>

                    <td>
                        @foreach (var schedulePair in pair.schedulePairs)
                        {
                            <div>@schedulePair.subject</div>
                        }
                    </td>

                    <td>
                        @foreach (var schedulePair in pair.schedulePairs)
                        {
                            <div>@schedulePair.teacher</div>
                        }
                    </td>

                    <td>
                        @foreach (var schedulePair in pair.schedulePairs)
                        {
                            <div>@schedulePair.aud</div>
                        }
                    </td>

                    <td>
                        @foreach (var schedulePair in pair.schedulePairs)
                        {
                            <div>@schedulePair.group</div>
                        }
                    </td>

                </tr>
            }
        } 
    </tbody>
</table>
